{% extends 'base.html' %}

<!DOCTYPE HTML>
<html>

<head>
  <title>b2b</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>

        {% block contents %}
        <div>
          <h3><b>What do we do?</b></h3>

         <p>Corporates depend heavily on software to enhance their performance. We are looking to develop a web-based application "Predicting & Defining Business to Business (B2B) Sales Success" that analyses the factors which drive sales success and also a model that predicts sales success rate. This application has three major functionalities, Admin, Seller Login, and User. Admin can log in & view user details, seller details, ordered products, search products, and accuracy of sales. Sellers will be able to access the page upon login, and they can upload, delete, and search products. Users will have to register and search, purchase products through their account.</p>


        {% endblock %}

  </div>
</body>
</html>
