{% extends 'base.html' %}

<!DOCTYPE HTML>
<html>

<head>
  <title>b2b</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>

        {% block contents %}
<center>
    <h2><b>Admin Login</b></h2>
    <p>
        <form action="{% url 'adminloginaction' %}"  method="POST" >
                    {% csrf_token %}
              Admin  <input  type="text" name="username" placeholder="Admin Login Id" ><br/><br/>
              Password <input  type="password" name="password" placeholder="Password" ><br/><br/>
                <button  type="submit">Login</button><br/>
      <center>
                  {% if messages %}
                         {% for message in messages %}
                            <font color='RED'> {{ message }}</font>
                         {% endfor %}
                  {% endif %}
              </center>
        </form>
    </p>
  </center>
        {% endblock %}


</body>
</html>
