{% load static %}

<!DOCTYPE HTML>
<html>

<head>
  <title>b2b</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Defining & Predicting <span class="logo_colour">B2B Sales Success</span></a></h1>

        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'user' %}">User</a></li>
          <li><a href="{% url 'seller' %}">Seller</a></li>
          <li><a href="{% url 'adminlogin' %}">Admin</a></li>

        </ul>
      </div>
    </div>
    <div id="site_content">
        {% block contents %}

        {% endblock %}

  </div>
</body>
</html>
